.about__title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--secondary-title-color);
  margin-bottom: 50px;
}

.about__list {
  display: flex;
}

.about__item {
  position: relative;

  &:not(:last-child) {
    margin-right: 30px;
  }
}

.image__title {
  position: absolute;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--main-title-color);

  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 70px;
  background: rgba(47, 48, 58, 0.8);
  bottom: 0;
}
