.offer__list {
  margin-bottom: -30px;

  @media screen and (min-width: 768px) {
    display: flex;
    flex-wrap: wrap;
    margin: -15px;
  }
}

.offer__item {
  margin-bottom: 30px;

  @media screen and (min-width: 768px) {
    flex-basis: calc(100% / 2 - 2 * 15px);
    margin: 15px;
  }

  @media screen and (min-width: 1200px) {
    flex-basis: calc(100% / 4 - 2 * 15px);
  }
}

.offer__thumb {
  display: flex;
  width: 100%;
  height: 120px;
  justify-content: center;
  align-items: center;
  background-color: #f5f4fa;
  border-radius: 4px;
  margin-bottom: 30px;
}

.offer__title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--secondary-title-color);
  margin-bottom: 10px;
  @media screen and (max-width: 767px) {
    text-align: center;
  }
}

.offer__text {
  max-width: 100%;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--main-text-color);
}
